# Python cache and bytecode
__pycache__/
*.py[cod]

# VS Code settings
.vscode/

# Environment files
.env

# OS files
*.DS_Store
Thumbs.db

# Jupyter Notebooks
.ipynb_checkpoints/

# Test and coverage reports
htmlcov/
.coverage

# Logs
*.log

# Virtual environments
venv/
ENV/
 
# Node modules and JS artifacts
node_modules/
package-lock.json

# JetBrains IDE project files
.idea/

# Windows thumbnail cache
ehthumbs.db
Thumbs.db

# Shortcut and installer files
*.lnk
